@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto&display=swap');

$font-primary: 'Irish Grover', cursive;
$font-secondary: 'Roboto', sans-serif;

$color-primary: rgb(8, 132, 124);
$color-primary-transparent: rgba(8, 132, 124, 0.61);
$color-secondary: #64c19a;
$color-tertiary: rgba(14,128,120,60%);
$color-black: #000;
$color-white: #fff;
$color-grey: #D9D9D9;
$color-button: #5A69EC;
$color-red: #C33F3f;

