@import './variables';


body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html,
body {
 box-sizing: border-box;
}
html {
  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @media only screen and (max-width: 56.25em) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
img {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
